* {
    margin: 0;
    padding: 0;
}

.body {
    background-image: url("https://media.istockphoto.com/vectors/abstract-orange-vector-background-with-stripes-can-be-used-for-cover-vector-id1156933854?k=20&m=1156933854&s=612x612&w=0&h=fxlp-ZvxJUfVtmOUr97qTz_7PDOgm5OfZO_od9BOLrw=");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(14, 14, 14, 0.8687850140056023) 50%, rgba(25, 25, 24, 1) 100%);
    text-align: center;
    margin-bottom: 100px;
    font-size: 2em;
}

.titulo h1 {
    color: white;
}

#pro{
    margin-bottom: 30px;
}